doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/semantic/dist/semantic.min.css")
  body(ng-app = 'app' , ng-cloak)
    block content
    block scripts
      script(src='/socket.io/socket.io.js')
      //- script(src="https://cdn.jsdelivr.net/npm/emoji-button@latest/dist/index.min.js")
      script(src="/bower_components/jquery/dist/jquery.min.js")
      script(src="/angular/angular.min.js")
      script(src="/javascripts/main.js")
      script(src="/service/indexFactory.js")
      script(src="/service/configFactory.js")
      script(src="/controller/index_controller.js")