body{
  background-color: #f0f1f6!important;
}

.margin-30{
  margin: 30px 0!important;
}

.gameArea{
  min-height:250px;
  position: relative;
}
.forms{
  display: flex;
  width: 100%;
}
.forms form{
  width: 90%;
}

.circle {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin: 0 auto 40px;
  position: absolute;
  top: 100px
}

.blue {
  background-color: #3498db;
}
.green {
  background-color: #16a085;
}
.red {
  background-color: #e74c3c;
}
.black {
  background-color: #000000;
}
.yellow {
  background-color: #e7d802;
}
.silver {
  background-color: #818181;
}


.circle .relative{
  position: relative;
}

.circle .relative > .name {
  text-transform: uppercase;
}
/* .circle .relative > .message{
  font-size: 18px;
  position: absolute;
  top: -22px;
  line-height: 14px;
  color: #333;
  background-color: #f1f1f1;
  padding: 3px 5px;
  left: 0;
  width: 100%;
  display: inline-block;
} */
 
.chat{
  margin-right: 10px!important;
  margin-left: 10px!important;
  height: 300px;
  /* -webkit-mask-image: -webkit-gradient(linear, left 60%, left bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0))); */
  overflow-y: scroll ;
}
.chat .content{
  text-align: left;
  width: 100%  !important;
  /* display: flex !important;
  justify-content: space-between;
  align-items: center; */
  
}
.chat .name{
  font-size: 15px!important;
  font-weight: 500;
  margin-right: 20px;
  text-transform: capitalize;
  align-self: center;
  padding: 10px 10px;
}
.chat .message{
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: black;
  padding: 10px 50px;
  width: 100%  ;
  word-wrap: break-word;
  max-width: 600px;
  margin: auto !important;
  border-radius: 10px;
  
  
}
.chat .item{
  margin: 15px 0px;
  width: 100% !important;
}